<!DOCTYPE html>
<htmlx>
<head>
    <title>Simple app</title>
    <script src="../js/angular-1.2.13.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="MyController">
        <input type="text" ng-model="person.name" placeholder="Your name" />
        <h1>Hello {{ person }}</h1>
        <h1>Hello {{ name }}</h1>
        <h2>{{scope}}</h2>
        <h5>{{ clock.now }}</h5>

        <input type="text" ng-model="expr" placeholder="Enter an expression" />
        <h2>{{parseValue}}</h2>

        <input ng-model="to" type="email" placeholder="Recipient" />
        <textarea ng-model="emailBody"> </textarea>
        <pre>{{previewText}}</pre>

        <h2>{{ today | date:'medium' }} <!-- Aug 09, 2013 12:09:02 PM --></h2>
        <h2>{{ today | date:'short' }} <!-- 8/9/1312:09PM --></h2>
        <h2>{{ today | date:'fullDate' }} <!-- Thursday, August 09, 2013 --></h2>
        <h2>{{ today | date:'longDate' }} <!-- August 09, 2013 --></h2>
        <h2>{{ today | date:'mediumDate' }}<!-- Aug 09, 2013 --></h2>
        <h2>{{ today | date:'shortDate' }} <!-- 8/9/13 --></h2>
        <h2>{{ today | date:'mediumTime' }}<!-- 12:09:02 PM --></h2>
        <h2>{{ today | date:'shortTime' }} <!-- 12:09 PM --></h2>
        {{ [
        {'name': 'Ari','status': 'awake'},
        {'name': 'Q','status': 'sleeping'},
        {'name': 'Nate','status': 'awake'}
        ] | orderBy:'+name' |json}}
    </div>
    <script type="text/javascript">
        // angular.module('myApp', [])
        //     .run(function($rootScope) {
        //         $rootScope.name = 'rootScope';
        //     });
    </script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>

