<!-- 1.html -->
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title></title>
  <script src="../js/angular-1.2.13.js"></script>
</head>
<body>

<label>Their URL field: <label>
<input type="text" ng-model="theirUrl" />

<div my-directive
  some-attr="theirUrl"
  my-link-text="Click me to Baidu">
</div>

</div>

</body>

<script>
  angular.module('myApp', [])
    .directive('myDirective', function() {
      return {
        restrict: 'A',
        replace: true,
        scope: {
          myUrl: '=someAttr',
          myLinkText: '@'
        },
        template: '\
        <div>\
          <label>My URL field: </label>\
          <input type="text" ng-model="myUrl" />\
          <a href="{{myUrl}}">{{myLinkText}}</a>\
        </div>\
        '
      };
    })
  ;
</script>

</html>